
pupitter/node_modules/**
.idea/**
**/target/**
**/logs/**
**/*.iml
PPLabTest/PPLabTest.iml
*.iml
PPDatabase/PPDatabase.iml
pupitter/**
PPAdmin/PPAdmin.iml
PPSubscription/PPSubscription.iml
**/*.iml
*.bin
*.nphd
*.map
*.ref
*.gc
